

{%- if show_headings %}
{{- [basename, "module"] | join(' ') | e | heading }}

{% endif -%}

**Inheritance diagram:**

.. inheritance-diagram:: {{ qualname }}
	:include-subclasses:

**UML: qualname="{{qualname}}"**

.. uml:: {{qualname}}
	:caption: UML diagram of ``{{ qualname }}``

**API:**

.. automodule:: {{ qualname }}
{%- for option in automodule_options %}
   :{{ option }}:
{%- endfor %}

